<!-- Company Introduction Section -->

<main>
  <div class="hero no-pad-bot cover" id="index-banner">
    <div class="valign-wrapper">
      <div class="row">
        <h1 class="left-align white-text">Houston's Source for Computer Sales and Repairs</h1>
          <a class="btn-large waves-effect waves-dark brown darken-1 white-text" href="#"><i class="material-icons right">bug_report</i>Login</a>
          <%= link_to signup_path, class: "btn-large waves-effect waves-dark brown darken-1 white-text" do %>
              Sign Up
              <i class="material-icons right">account_box</i>
          <% end %>
        </div>
      </div>
     </div>
     <div class="card-panel no-padding brown darken-3">
       <div class="row"><br></div>
     </div>
</main>

<!-- Introduction -->
<section id="company-introduction" class="intro">
    <div class="row">
      <h2>PC and Laptop Sales and Service</h2>
        <p class="flow-text">Are you having computer trouble? Is it time for a hardware upgrade? Located in Houston, Texas, EverSwift Computers is your source for the best in computer sales, repair, troubleshooting, installations, and computer networking. We specialize in full-service computer repairs as well as custom-built computers for residential and commercial customers. From PCs to printers to scanners, EverSwift Computers  will come to your home or office and have your computer up and running with optimum efficiency. For fast, reliable service, call us today.
        </p>
    </div>
</section>

<!-- Services Section -->
<section id="services" class="our-services">
  <div class="row">
    <h2>Services for Most Major Brands</h2>
      <div class="col s12 m3 l3 center-align brown-text text-darken-3">
          <i class="large material-icons">mouse</i>
          <p class="center-align">Sales and Repairs</p>
        </div>
        <div class="col s12 m3 l3 center-align brown-text text-darken-3">
          <i class="large material-icons">build</i>
          <p class="center-align">Hardware Upgrades</p>
        </div>
        <div class="col s12 m3 l3 center-align brown-text text-darken-3">
          <i class="large material-icons">computer</i>
          <p class="center-align">Installations</p>
        </div>
        <div class="col s12 m3 l3 center-align brown-text text-darken-3">
          <i class="large material-icons">network_wifi</i>
          <p class="center-align">Troubleshooting</p>
        </div>
    </div>
</section>

<!-- Products Section -->
<section id="products" class="our-products">
  <h2>Great Products All in One Place</h2>
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l4">
          <img class="responsive-img" src="/assets/pc_motherboard.jpeg" alt="Motherboard">
          <h6>Custom-Built PCs</h6>
        </div>
          <div class="col s12 m12 l4">
            <img class="responsive-img" src="/assets/laptop_2.jpeg" alt="Laptop">
            <h6>Laptops</h6>
          </div>
          <div class="col s12 m12 l4">
            <img class="responsive-img" src="/assets/web_cam.jpeg" alt="Web Camera">
            <h6>Web Cameras</h6>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l4">
            <img class="responsive-img" src="/assets/scanner.jpeg" alt="Motherboard">
            <h6>Printers and Scanners</h6>
         </div>
          <div class="col s12 m12 l4">
            <img class="responsive-img" src="/assets/video_card.jpeg" alt="Video Card">
            <h6>Video and Sound Cards</h6>
          </div>
          <div class="col s12 m12 l4">
             <img class="responsive-img" src="/assets/modem.jpeg" alt="Laptop">
            <h6>Wireless Modems</h6>
          </div>
      </div>
</section>

<!-- About Us Section -->
<section id="about" class="about-us">
  <div class="container">
    <div class="row">
      <div class="container">
        <h2>Professionally-Trained Technicians</h2>
          <div class="col s12 m12 l6">
            <img class="responsive-img" src="/assets/laptop.jpeg" alt="Person with Laptop">
          </div>
          <div class="col s12 m12 l6">
            <p class="flow-text">At EverSwift Computers, we have more than 10 years of experience, so you can rest assured—we know what we're doing. You can always count on us for personalized services and competitive prices.<br><br> Our professionally-trained technicians work one-on-one to educate you about your computer system needs, while paying special attention to detail. For a free estimate and a fast turnaround on computer repairs, contact us today!</p>
          </div>
        </div>
      </div>
</section>
