<!DOCTYPE html>
<html>
  <head>
    <title>Home | EverSwift Computers</title>
  </head>
  <body>
    <h1>EverSwift Computers</h1>
    <p>
      This is the home page for the EverSwift Computers Ruby on Rails application.
    </p>
  </body>
</html>
