<h1>Everswift Computers</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to Everswift Computers! Click on the link below to activate your account:
</p>

<%= link_to "Activate Now!", edit_user_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
