<% provide(:title, "Edit User") %>
<% provide(:button_text, "Save changes") %>
<h2 class="center-align">Update Your Profile</h2>

<%= render 'form' %>

  <h5 class="valign-wrapper">
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank" rel="noopener">Change</a>
  </h5>
 </div>
</div>