// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Arimo:700|PT+Sans+Narrow');

/* -------------------------------------------- */
/* Mixins, Variables, Etc. */
/* -------------------------------------------- */

$dark-brown: #4E342E;
$twitter-blue: #00ACED;
$linkedin-blue: #0077B5;
$github-blue: #4078C0;
$red-heart: #E74C3C;
$white: #FFF;
$black: #16171D;
$secondary-bg: #F1F1F1;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  background-color:   $secondary-bg;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.valign-wrapper { height: 100%; }

*, *:before, *:after { box-sizing: inherit; }

html,
body, {
  background-color: $white;
  color: $black;
  font-family: 'Arimo', sans-serif;
  font-size: 110%;
  text-rendering: optimizeLegibility;
}

h1 { font-family: 'PT Sans Narrow', sans-serif; }

/* -------------------------------------------- */
/* Reusable Elements */
/* -------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 40px 0;
}

/* -------------------------------------------- */
/* Header */
/* -------------------------------------------- */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
                                      rgba(0, 0, 0, 0.5)), url('hero_bg.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* ------ Buttons ------ */

.btn-large:hover,
.btn-large:active {
    border: 1px solid $white;
}

/* ------ Dropdown Menu ------ */

.dropdown-content ul {
  background-color: $secondary-bg;
  color: $dark-brown;
}

/* ------ Headings ------ */

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: $black;
  text-align: center;
  margin-bottom: 30px;
  &:after {
    display: block;
    top: -10px;
    height: 2px;
    background-color: $dark-brown;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 35px;
    }
  }

h6 {
  text-align: center;
  margin: 2px 0 auto;
}

.card-panel {
  margin: 0 !important;
}

/* ------ Company Content ------ */

.intro p {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  font-size: 100%;
}

.our-services p { margin-bottom: 20px; }

.our-services,
.about-us { background-color: $secondary-bg; }

.our-products img:hover { opacity: 0.8; }

.about-us p { font-size: 100%; }

/* -------------------------------------------- */
/* Forms */
/* -------------------------------------------- */

.x_style {
    position: absolute;
    right: 10px;
    font-size: 200%;
    color: $white;
    cursor: pointer;
}

/* Label focus color */
 .input-field input:focus + label {
   color: $dark-brown !important;
 }
 /* Label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid $dark-brown !important;
   box-shadow: 0 1px 0 0 $dark-brown !important;
 }

/* -------------------------------------------- */
/* Footer */
/* -------------------------------------------- */

footer {
  background-color: $dark-brown;
  text-align: center;
  padding: 25px;
  font-size: 85%;
  color: $white;
  a {
    text-decoration-color: $white;
    color: $white;
    }
}

.address,
.hours,
.number-and-email { margin-bottom: 10px; }

@media screen and (min-width: 1300px) {
  .address,
  .number-and-email {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: $white;
  }
}

/* -------------------------------------------- */
/* Copyright */
/* -------------------------------------------- */

.copyright {
  padding: 10px 0;
  box-sizing: border-box;
  height: auto;
  color: $white;
  overflow: hidden;
  font-size: 85%;
  border-top: 0 solid transparent;
  border-top-width: 1px;
  background-color: $black;
}

.ion-heart { color: $red-heart; }

.social-icons {
  list-style: none;
  float: none;
  color: $dark-brown;
  li {
    display: inline-block;
    margin-right: 20px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.social-icons li a:link,
.social-icons li a:visited {
  text-decoration: none;
  border: 0;
  color: $dark-brown;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.ion-social-twitter,
.ion-social-linkedin,
.ion-social-github {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.ion-social-twitter:hover { color: $twitter-blue; }
.ion-social-linkedin:hover { color: $linkedin-blue; }
.ion-social-github:hover { color: $github-blue; }
