<!-- About Us Section -->
<section id="about" class="about-us">
  <div class="container">
    <div class="row">
      <div class="container">
      <h2>Professionally-Trained Technicians</h2>
        <div class="col s12 m12 l6">
          <img class="responsive-img" src="/assets/laptop.jpeg" alt="Person with Laptop">
        </div>          
        <div class="col s12 m12 l6">
           <p class="flow-text">At EverSwift Computers, we have more than 10 years of experience, so you can rest assured—we know what we're doing. You can always count on us for personalized services and competitive prices.<br><br> Our professionally-trained technicians work one-on-one to educate you about your computer system needs, while paying special attention to detail. For a free estimate and a fast turnaround on computer repairs, contact us today!</p>
          </div>
        </div>  
      </div>
</section>  