<!-- Footer Section -->

  <footer>
    <div class="container">
      <div class="row center">
        <div class="col s12 m4 l4">
          <p class="address">
            4600 Lockshen Drive<br>
            Houston, TX 77084-2875
          </p>
        </div>
        <div class="col s12 m4 l4">
          <p class="number-and-email">
            Phone: (832) 427-1111<br>
            <a href="mailto:info@everswift.com">Email: info@everswift.com</a>
          </p>
        </div>
        <div class="col s12 m4 l4">
          <p class="hours">
            Monday &ndash; Saturday<br> 8:00 a.m. &ndash; 6:00 p.m.
          </p>
        </div>
      </div>
  </div>
  </footer>
  <div class="copyright">
    <div class="row center">
      <div class="col s12 m4 l4">
        EverSwift Computers &copy; 2018 All Rights Reserved.
      </div>
      <div class="col s12 m4 l4">
        <ul class="social-icons">
          <li><a href="https://twitter.com/TeeFlem"><i class="ion-social-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/tim-fleming-software-developer-30a83b24/"><i class="ion-social-linkedin"></i></a></li>
          <li><a href="https://github.com/tflem"><i class="ion-social-github"></i></a></li>
        </ul>
      </div>
      <div class="col s12 m4 l4">
        <p>Developed with <i class="ion-heart"></i> by Tim Fleming</p>
      </div>
    </div>
  </div>
