<!-- Products Section -->
  <section id="products" class="our-products">
    <h2>Great Products All in One Place</h2>
      <div class="container">
      <div class="row">
        <div class="col s12 m12 l4">
          <img class="responsive-img" src="/assets/pc_motherboard.jpeg" alt="Motherboard">
            <div class="blog-post">
              <h6>Custom-Built PCs</h6>
            </div>
         </div>
          <div class="col s12 m12 l4">
            <img class="responsive-img" src="/assets/laptop_2.jpeg" alt="Laptop">
              <div class="blog-post">
                <h6>Laptops</h6>
              </div>
          </div>
           <div class="col s12 m12 l4">
             <img class="responsive-img" src="/assets/web_cam.jpeg" alt="Web Camera">
            <div class="blog-post">
              <h6>Web Cameras</h6>
            </div>
          </div>
        </div>             
        <div class="row">
          <div class="col s12 m12 l4">
            <img class="responsive-img" src="/assets/scanner.jpeg" alt="Motherboard">
            <div class="blog-post">
              <h6>Printers and Scanners</h6>
            </div>
         </div>
           <div class="col s12 m12 l4">
            <img class="responsive-img" src="/assets/video_card.jpeg" alt="Video Card">
              <div class="blog-post">
                <h6>Video and Sound Cards</h6>
              </div>
          </div>
          <div class="col s12 m12 l4">
            <img class="responsive-img" src="/assets/modem.jpeg" alt="Laptop">
              <div class="blog-post">
                <h6>Wireless Modems</h6>
              </div>          
          </div>
      </div>
    </section>