<!-- Services Section -->
<section id="services" class="our-services">
  <div class="row">
      <h2>Services for Most Major Brands</h2>
        <div class="col s12 m3 l3 center-align brown-text text-darken-3">
          <i class="large material-icons">mouse</i>
          <p class="center-align">Sales and Repairs</p>
        </div>   
        <div class="col s12 m3 l3 center-align brown-text text-darken-3">
          <i class="large material-icons">build</i>
          <p class="center-align">Hardware Upgrades</p>
        </div>
        <div class="col s12 m3 l3 center-align brown-text text-darken-3">
          <i class="large material-icons">computer</i>
          <p class="center-align">Installations</p>
        </div>
        <div class="col s12 m3 l3 center-align brown-text text-darken-3">
          <i class="large material-icons">network_wifi</i>
          <p class="center-align">Troubleshooting</p>
        </div>                   
    </div>    
</section> 